go 1.21

use (
    ./apps/backend/api-gateway
    ./apps/backend/auth-service
    ./apps/backend/file-service
    ./apps/backend/payment-service
    ./apps/backend/crm-service
    ./apps/backend/lms-service
    ./apps/backend/pos-service
    ./apps/backend/hrm-service
    ./apps/backend/checkin-service
    ./apps/backend/shared
    ./tools/codegen
    ./tools/migration
    ./tools/monitoring
)
